* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}
/*-----------------HEADER------------------*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar-nav li a:hover {
    color: #1abc9c;
}

#scrool{
  margin-top: 90px;
  margin-bottom: 40px;
}



/*--------------FIN DU HEADER---------------*/


.bg-1 {
  background-image: url("../img/keyboard.jpg");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 70px;
  height: 100%;
}
.bg-2 {
  background-color: #fa9c1e;
}

.bg-3 {
  padding: 0;
  margin: 0;
}

.bg-4 {
  background-color: #fa9c1e;
}

.bg-5 {
  margin-bottom: 45px;
}
#comp{
  margin-bottom: 45px;
}

#contact {
  margin-top: 65px;
  margin-bottom: 45px;
}
.competence {
  margin-top: 45px;
}

.cadre {
  border: 5px double #dddddd;
  border-radius: 3px;
  margin-bottom: 45px;
}

footer {
  height: 200px;
  background-color: #bbbbbb;
}
h1 {
  font-size: 6em;
  font-family: night_still_comes;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #fa9c1e;
}

h2 {
  font-size: 3em;
  font-family: night_still_comes;
  color: #fa9c1e;
  text-align: center;
}

h3 {
  font-family: caviar_dreams;
  font-style: bold;
  font-size: 5em;
  margin-top: 65px;
  color: #dddddd;
  text-align: center;
}
h4 {
  font-size: 5em;
  font-family: night_still_comes;
  color: #fa9c1e;
  text-align: center;
}
h5{
  font-size: 2em;
  margin-top: 20px;
  color: #fa9c1e;
  text-align: center;
  font-family: night_still_comes;
  font-style: italic;
}

h6 {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 20px;
  font-family: night_still_comes;
  font-size: 2.5em;
  font-style: italic;
  color: #dddddd;
  text-align: center;
}

.paragraphe {
  font-family: quicksand;
  font-size: 1.5em;
  font-style: normal;
  border-radius: 3px;
  margin: 0;
  color: #dddddd;
}
.placeholder{
  height: 100px;
}

#picture img {
  height: 300px;
  border-radius: 5px;
  margin-top: 65px;

}
#picture {
  float: center;

  margin-bottom: 50px;
}

p {
  font-family: quicksand;
  font-size: 2em;
  font-style: normal;
  border-radius: 3px;
  margin: 0;
  color: #dddddd;
}


.row {
  margin: 0;
  text-align: center;
}


@media (max-width : 640px) {
    h2, h3, h4 {font-size: 35px;}
    h1 {font-size: 45px;}
}

@font-face {
font-family: night_still_comes ;
src: url("../fonts/NightStillComes_bold_final_sample.otf");
src: url("../fonts/NightStillComes_bolditalic_final_sample.otf");
src: url("../fonts/NightStillComes_italic_final_sample.otf");
src: url("../fonts/NightStillComes_mine_final_sample.otf");
}
@font-face {
font-family: caviar_dreams ;
src: url("../fonts/CaviarDreams_Bold.otf");
src: url("../fonts/CaviarDreams_BoldItalic.otf");
src: url("../fonts/CaviarDreams_Italic.otf");
src: url("../fonts/CaviarDreams.otf");
}
@font-face {
font-family: quicksand ;
src: url("../fonts/Quicksand_Bold_Oblique.otf");
src: url("../fonts/Quicksand_Bold.otf");
src: url("../fonts/Quicksand_Book_Oblique.otf");
src: url("../fonts/Quicksand_Book.otf");
src: url("../fonts/Quicksand_Dash.otf");
src: url("../fonts/Quicksand_Light_Oblique.otf");
src: url("../fonts/Quicksand_Light.otf");
}
