* {
  box-sizing: border-box;
}

/*-----------------HEADER------------------*/
header {
  background-image: url("../img/keyboard.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;

}

.title {
  text-align: center;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
  top: 25%;
  position: relative;
}
.git {
  position: absolute;
  left: 5%;
  top: 5%;
}
.git img {
  width: 150px;
}
.linkedin {
  position: absolute;
  right: 5%;
  top: 5%;

}
.linkedin img {
  height: 61px;
}

h1 {
  color:#bfbfbf;
  font-weight: 500;
  font-size: 6em;
  font-family: apple_garamond;
  margin-bottom: 30px;
  text-shadow: 1px  1px 1px white;
  margin-top: 0px;
}

h2 {
  color: #bfbfbf;
  font-size: 40px;
  font-family: apple_garamond;

}



@font-face {
font-family: apple_garamond;
src: url("../fonts/apple_garamond/AppleGaramond-Bold.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-BoldItalic.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-Italic.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-Ligth.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-LigthItalic.ttf");
src: url("../fonts/apple_garamond/AppleGaramond.ttf");

}
