* {
  box-sizing: border-box;
}

/*-----------------HEADER------------------*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c;
}

#scrool{
  margin-top: 60px;
}



/*--------------FIN DU HEADER---------------*/
.bg-1 {
  background-image: url("../img/keyboard.jpg");
  background-size: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-position: middle;
}

h1 {
  font-weight: 500;
  font-size: 6em;
  font-family: apple_garamond;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #e7e7e7;
}

h2 {
  font-size: 40px;
  font-family: apple_garamond;
  color: #e7e7e7;
}



@font-face {
font-family: apple_garamond;
src: url("../fonts/apple_garamond/AppleGaramond-Bold.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-BoldItalic.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-Italic.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-Ligth.ttf");
src: url("../fonts/apple_garamond/AppleGaramond-LigthItalic.ttf");
src: url("../fonts/apple_garamond/AppleGaramond.ttf");

}
